{% extends 'groups/group_base.html' %}
{% block pregroup %}
    <div class="container">
        <h1>{{ group.name }}</h1>
    </div>
<div class="container">
    <h2>Member Count: {{ group.members.count }} </h2>
</div>


<div class="container">
    {% if user in group.members.all %}

        <a href="{% url 'groups:leave' slug=group.slug %}"
           class="btn btn-lg btn-fill btn-warning">Leave</a>
    {% else %}
        <a href="{% url 'groups:join' slug=group.slug %}"
           class="btn btn-lg btn-fill btn-warning">Join</a>

    {% endif %}
</div>
   {% endblock %}
    {% block group_content %}
        <div class="col-md-12">
            {% if group.posts.count == 0 %}
                <h1>No Posts to show!</h1>
            {% else %}
                {% for post in group.posts.all %}
                    {% include 'posts/_post.html' %}
                {% endfor %}
            {% endif %}
        </div>

{% endblock %}